:root{
    --main-color-grd: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    --font-project-name: 'Inter', sans-serif;
    --font-text: 'Karla', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0px;
}

body{
  margin: 0;
  font-family: var(--font-text);
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}